.ListItem {

    min-width: 300px;
    max-width: 300px;
    width: 300px;
    min-height: 700px;
    max-height: 1300px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;



&__title {
    font-size: 20px;
}

&__id {
    font-size: 30px;
}

&__description {
    font-size: 10px;
}

&__category {
    font-size: 40px;
}
}
.ListItem__image {
    margin: 0px auto;
    width: 200px;
   }